@font-face{
    font-family:'digital-clock-font';
    src: url('/media/digital-7.ttf');
}

*{
    margin: 0;
    padding: 0%;
}

body{
    height: 100vh;
    background-color: rgb(100, 90, 102);
}

.header{
    background-color: rgb(20, 20, 20);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 3rem;
}



.game{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bomb {
    margin-top: 100px;
}

.timer{
    font-size: 5rem;
    font-family:'digital-clock-font';
    color: rgb(46, 33, 33);

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1rem;
    border: 3px solid black;

    max-height: 10rem;
    width: 30rem;
    position: fixed;  
}

.bomb{
    padding: 30px;
    gap: 2.5rem;
    background-color: rgb(45, 90, 102);
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

canvas{
    background-color: rgb(167, 167, 167);
}

#mod_2{
    cursor: url('./media/scissors.cur'), auto 
}

